<div class="row">
  <% @tracks.each do |track| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="images/hand.png">
        <div class="caption">
          <h3><a href="/tracks/<%= track.id %>"><%= track.artist %></a></h3>
          <p><%= track.song_title %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

