body {
  margin-top: 100px;
  background-color: #1C1C12;
}

.btn.btn-primary.btn-lg {
  color: #FFF ;
  font-weight: bold;
  background-color: #404040 ;
  border-color: #404040 ;
  margin: 100px auto 10px auto;
  width: 200px;
}

img {
  height: 500px;
  width: 500px;
  margin: 0px;
}

.navbar.navbar-inverse.navbar-fixed-top {
  background-color: #11110B;
}

.navbar-inverse .navbar-brand {
  color: #FFF;
  font-size: 30px;
}

.navbar-inverse .navbar-brand:hover {
  color: #F00000; 
  font-size: 30px;
}

.navbar-text{
  color: #FFF;
}

.jumbotron {
  color:#FFF;
  background-color: #1C1C12;
}

.col-sm-10  {
  width: 430px;
}

.col-sm-2.control-label {
  color: #FFF;
}


.page-header h1 {
  color: #FFF;
  font-size: 85px;
}

.h1 .small {
  font size: 40px;
}

.form-horizontal {
  margin-top: 60px;
}

.thumbnail {
  height: 454px;
  width: 350px;
  overflow: visible;
}

.caption {
  background-color: #FFF;
}

.btn.btn-default.navbar-btn.navbar-right {
  margin-left: 25px;
}

.caption-text {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

.caption-vote {
  width: 50% ;
  float: left;
}

form.upvote {
  margin-top: 15px;
}

.icon-heart:hover {
  color: #000;
}

.hidesy{
  border: none;
  background-color: #FFF;
}