<!DOCTYPE html>
<html lang="en">
<head>

  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  
  <link rel="stylesheet" href="/stylesheets/application.css">
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title>Tracks on Tracks on Tracks</title>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href='/tracks'><strong>T T T</strong></a>
        <a class="navbar-text" href='/tracks/new'><strong>Add Track</strong></a>    
      </div>
      
      <% if current_user %>
        <%= erb :logged_in %>
      <% else %>
        <%= erb :login_form %>
      <% end %>
    
    </div>
  </nav>
  <div class='container'>
   <%= yield %>
  </div>
</body>
</html>

