<form method="post" action='/logout'>
<button type="submit" class="btn btn-default navbar-btn navbar-right" >Log Out</button>
</form>
<p class="navbar-text navbar-right">Signed in as <%= current_user.username %></p>