<div class='caption-vote'>
  <% unless track.upvoted_by_current_user? %>
    <form class='upvote' method='post' action='/upvote'>
      <input type='hidden' value='<%= track.id %>' name='track'>
      <button  class ='hidesy' type='submit'>
        <i class="icon-heart icon-3x"></i> Like this Shit
      </button>
    </form>
  <% end %>
</div>